body {
    margin: 0;
}
main {
    margin: 15px;
    flex: 8;
}
header {
    background-color: #50eb3c;
    padding: 20px;
    color: honeydew;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}
header h1 {
    font-size: 2em;
    margin: 0;
}
#menu-nav {
    background-color: honeydew;  
    padding: 1vh;
}
#menu-nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
.menu-li {
    margin: 0 1vw 0 1vw;
}
#body-wrapper {
    display: flex;
    flex: 10;
}
#menu-aside {
    flex: 2;
    font-size: 15px;
    background-color: #50eb3c;
    height: 100%;
    color: honeydew;
    max-width: 220px;
}
#menu-aside ul {
    font-size: 1em;
    list-style: none;
}
#section-em-alta {
    text-align: center;
}
#section-em-alta div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.article-cartaz {
    margin: 10px;
}
.aside-li {
    display: flex;
}
.aside-a {
    background-color: honeydew;
    width: 100%;
    padding: 10px;
}
#menu-aside h2 {
    text-align: center
}